<nav class="navbar navbar-inverse border-radius-0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand" target="_blank">
        <span class="glyphicon glyphicon-picture"></span>
      </a>
    </div>
  </div>
</nav>
